<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ozak.bjkhaber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data android:name="tech.ozak.bjkhaber.glideModule.GlideConfiguration"
        android:value="GlideModule"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashActivityTheme"></activity>

        <activity
            android:name=".DisplayContentActivity"
            android:launchMode="standard"
            android:hardwareAccelerated="true"
             />

        <activity
            android:name=".NtvSporContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

        <activity
            android:name=".AsporContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

        <activity
            android:name=".SabahContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

        <activity
            android:name=".HaberTurkContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

        <activity
            android:name=".LigTvContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

        <activity
            android:name=".FotomacContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ListActivity"></activity>

    </application>

</manifest>
