<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.ozak.sportmix"
    android:versionCode="2"
    android:versionName="1.1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Include following permission if you want to cache images on SD card -->
   <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <meta-data android:name="tech.ozak.sportmix.glideModule.GlideConfiguration"
        android:value="GlideModule"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="tech.ozak.sportmix.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="tech.ozak.sportmix.ListActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashActivityTheme"></activity>

        <activity
            android:name="tech.ozak.sportmix.DisplayContentActivity"
            android:launchMode="standard"
            android:hardwareAccelerated="true"
             />

        <activity
            android:name="tech.ozak.sportmix.NtvSporContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name=".TrtsporContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name="tech.ozak.sportmix.SabahContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name="tech.ozak.sportmix.HaberTurkContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name="tech.ozak.sportmix.LigTvContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name="tech.ozak.sportmix.FotomacContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

        <activity
            android:name="tech.ozak.sportmix.SporxContentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="tech.ozak.sportmix.ListActivity"></activity>

    </application>

</manifest>
